In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string
import math
from mpl_toolkits.basemap import Basemap
from matplotlib import cm
import seaborn as sns
from sklearn.decomposition import LatentDirichletAllocation

In [54]:
f = pd.read_csv( '/Users/zzz/Dropbox/未命名文件夹/data/res_by_name/newdata/Burger/burger_r.csv',encoding = 'utf-8',index_col = 0)

f.info()

In [55]:
f.head(3)

,business_id,name,city,state,circle,text,stars,NN
0,173463,Dairy Queen Brazier,Calgary,AB,0,This is the worst Dairy Queen I have been to e...,1.0,"['Dairy', 'Queen', 'lots', 'Dairy', 'Queen', '..."
1,173463,Dairy Queen Brazier,Calgary,AB,0,Microwaved hamburgers. Begrudgingly gives napk...,1.0,"['hamburgers', 'Begrudgingly', 'napkins', 'Bli..."
2,173463,Dairy Queen Brazier,Calgary,AB,0,I do not understand why this DQ restaurant is...,2.0,"['DQ', 'restaurant', 'DQ', 'Brazier', 'Dairy',..."

In [56]:
import re

f.loc[:,'text']=f['text'].apply(lambda sen: re.sub(r"can\'t", "can not", sen))
f['text']=f['text'].apply(lambda sen: re.sub(r"cannot", "can not ", sen))
f['text']=f['text'].apply(lambda sen: re.sub(r"what\'s", "what is", sen))
f['text']=f['text'].apply(lambda sen: re.sub(r"\'ve ", " have ", sen))
f['text']=f['text'].apply(lambda sen: re.sub(r"n\'t", " not ", sen))
f['text']=f['text'].apply(lambda sen: re.sub(r"i\'m", "i am ", sen))
f['text']=f['text'].apply(lambda sen: re.sub(r"\'re", " are ", sen))
f['text']=f['text'].apply(lambda sen: re.sub(r"\'d", " would ", sen))
f['text']=f['text'].apply(lambda sen: re.sub(r"\'ll", " will ", sen))

In [57]:
data_dict=f

In [58]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
from nltk.stem.porter import PorterStemmer

import nltk 
#nltk.download('stopwords')
#nltk.download('averaged_perceptron_tagger')

stop_words = set(stopwords.words('english'))

In [59]:
from nltk import *
data_dict.loc[:,'NN'] =None

import numpy as np
def detect(text):
    NN = []
    text =  word_tokenize(text)
    temp = nltk.pos_tag(text)
    i = 0
    for word, tag in temp:
        if word in stop_words:
            continue
        if re.match('NN[*]?', tag) != None:
            p_stemmer = PorterStemmer()   ##############!!!
            word = p_stemmer.stem(word)         ##############!!!
            NN.append(word)
    return list([NN])

temp = pd.DataFrame(list(data_dict['text'].apply(detect)))
data_dict['NN'] = temp[:][0]

In [60]:
NN = []

for item in data_dict['NN']:
    NN += item
#count the words
from collections import Counter

#count the words
words=NN

# words wrong datatype
counts = Counter(words)
vocab = sorted(counts, key=counts.get, reverse=True)
vocab_to_int_n = {word: ii for ii, word in enumerate(vocab, 1)}

reviews_ints_n = []
reviews_ints_n.append([vocab_to_int_n[word] for word in NN])
print('Unique words: ', len((vocab_to_int_n)))
counts.most_common(20)

Unique words:  23082

[('food', 26201),
 ('order', 23747),
 ('time', 17801),
 ('burger', 15477),
 ('servic', 14213),
 ('fri', 13220),
 ('place', 13025),
 ('locat', 11891),
 ('mcdonald', 9710),
 ('drive', 8860),
 ('chicken', 8630),
 ('custom', 8166),
 ('manag', 7815),
 ('minut', 7426),
 ('thru', 6177),
 ('employe', 5929),
 ('peopl', 5749),
 ('staff', 5497),
 ('guy', 5492),
 ('way', 4781)]

In [61]:
data_dict.head()

,business_id,name,city,state,circle,text,stars,NN
0,173463,Dairy Queen Brazier,Calgary,AB,0,This is the worst Dairy Queen I have been to e...,1.0,"[dairi, queen, lot, dairi, queen, employe, yea..."
1,173463,Dairy Queen Brazier,Calgary,AB,0,Microwaved hamburgers. Begrudgingly gives napk...,1.0,"[hamburg, begrudgingli, napkin, blizzard, gril..."
2,173463,Dairy Queen Brazier,Calgary,AB,0,I do not understand why this DQ restaurant is...,2.0,"[DQ, restaur, DQ, brazier, dairi, queen, DQ, c..."
3,173463,Dairy Queen Brazier,Calgary,AB,0,"Bad service, slow, unfriendly staff. I got a b...",1.0,"[bad, servic, staff, blizzard, inch, rest, ice..."
4,14859,KFC,Calgary,AB,0,I have not eaten at a KFC in quite some time a...,1.0,"[kfc, time, locat, veri, air, condit, fli, tab..."

In [62]:
data_dict.to_csv("/Users/zzz/Dropbox/未命名文件夹/data/res_by_name/newdata/Burger/burger_root.csv")

In [63]:
a = data_dict['text']
a.to_csv("/Users/zzz/Dropbox/未命名文件夹/data/res_by_name/newdata/Burger/burger_text.csv")

In [103]:
f = pd.read_csv( '/Users/zzz/Dropbox/未命名文件夹/data/res_by_name/newdata/Sandwich/sandwich_r.csv',encoding = 'utf-8',index_col = 0)

In [104]:
f.head(3)

,business_id,name,city,state,circle,text,stars,NN
0,64799,Subway,Calgary,AB,0,Several years ago I worked in the area and wou...,3.0,"['years', 'area', 'place', 'sandwich', 'Toront..."
1,64799,Subway,Calgary,AB,0,OMG!! I'm ordering a steak & cheese footling. ...,1.0,"['OMG', 'steak', 'footling', 'lady', 'gloves',..."
2,64799,Subway,Calgary,AB,0,Subway location in a Mac's location just off o...,3.0,"['Subway', 'location', 'Mac', 'location', 'Bla..."

Empty DataFrame
Columns: [business_id, name, city, state, circle, text, stars, NN]
Index: []